{% extends "mysite/base.html" %}
{% block content %}

    <h2>
    <a class="btn btn-default" href="{% url 'advertdisplay' %}" ><span>Club Settings</span></a>
    <a class="btn btn-default" href="{% url 'circlelist' %}" ><span>View Circles</span></a>
    <a class="btn btn-default" href="{% url 'circleinsert' %}" ><span>Add a circle</span></a>
    </h2>

    <h2>
    Advert {{clubsettings.advert| linebreaks}}
    </h2>
    <h2>
    Contact Info {{clubsettings.contact_info| linebreaks}}
    </h2>

    {% if error_message %}
      <h2 class="error">{{error_message}}</h2>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Update the website for this advert</button>
    </form>
    <a class="btn btn-default" href="{% url 'events.views.event_list' %}">View Events</a>
{% endblock %}